<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="${'View Identity - ' + identity.email}"></title>
</head>
<body>
<section layout:fragment="content">
    <a href="/mgmt/identities" class="btn btn-link-contrast-fix">Back</a>

    <h1 class="pb-5" th:text="${'View Identity - ' + identity.email}"></h1>
    <h2 class="pb-3">Account status</h2>
    <dl th:if="${identity != null}">
        <div class="row">
            <dt class="col-sm-3">Account Active</dt>
            <dd class="col-sm-6" th:text="${identity.active} ? 'Yes' : 'No'"></dd>
            <dd class="col-sm-3" th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}">
                <form th:action="@{/identities/active}" method="POST" th:object="${identity}">
                    <button type="submit" class="btn btn-primary btn-contrast-fix"
                            th:text="${identity.active} ? 'Deactivate user' : 'Request reactivation'"></button>
                    <input type="hidden" th:field="*{uid}"/>
                </form>
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Account Locked</dt>
            <dd class="col-sm-6" th:text="${identity.locked} ? 'Yes' : 'No' "></dd>
            <dd class="col-sm-3" th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}">
                <form th:action="@{/identities/locked}" method="POST" th:object="${identity}">
                    <button type="submit" class="btn btn-primary btn-contrast-fix"
                            th:text="${identity.locked} ? 'Unlock user' : 'Lock user'"></button>
                    <input type="hidden" th:field="*{uid}"/>
                </form>
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Last logged in</dt> <dd class="col-sm-9" th:text="${identity.getLastLoggedInAsDate()}"></dd>
        </div>
        <div class="row">
            <dt class="col-sm-3">Last reactivation</dt> <dd class="col-sm-9" th:text="${identity.getLastReactivationAsDate()}"></dd>
        </div>
    </dl>
    <h2 class="pb-3">Profile</h2>
    <dl th:if="${profile != null}" class="row">
        <dt class="col-sm-3">Name</dt> <dd class="col-sm-9" th:text="${profile.getFullName()}"></dd>
        <dt class="col-sm-3">Organisation</dt> <dd class="col-sm-9" th:text="${profile.getDisplayOrganisation()} "></dd>
        <dt class="col-sm-3">Primary area of work</dt> <dd class="col-sm-9" th:text="${profile.getDisplayProfession()}"></dd>
        <dt class="col-sm-3">Other areas of work</dt> <dd class="col-sm-9" th:text="${profile.getDisplayOtherAreasOfWork()}"></dd>
        <dt class="col-sm-3">Interests</dt> <dd class="col-sm-9" th:text="${profile.getDisplayInterests()}"></dd>
        <dt class="col-sm-3">Grade</dt> <dd class="col-sm-9" th:text="${profile.getDisplayGrade()}"></dd>
        <dt class="col-sm-3">Line manager email</dt> <dd class="col-sm-9" th:text="${profile.getDisplayLineManagerEmail()}"></dd>
        <dt class="col-sm-3">Token</dt> <dd class="col-sm-9" th:text="${token}"></dd>
    </dl>
    <p class="pb-4" th:if="${profile == null}">
        User has not set up their profile.
    </p>

    <h2 class="pb-3">Required Learning</h2>
    <p class="pb-4" th:if="${requiredCourses.isEmpty()}">
        No required learning found.
    </p>
    <ul th:if="${!requiredCourses.isEmpty()}" class="list-group mb-5">
        <li class="list-group-item" th:each="requiredCourse: ${requiredCourses}">
            <a th:href="'#' + ${requiredCourse.getCourseTitleAsId()}" th:text="${requiredCourse.getCourseTitle()}"></a>
        </li>
    </ul>
    <div th:each="requiredCourse : ${requiredCourses}">
        <div class="mb-5">
            <h3 th:id="${requiredCourse.getCourseTitleAsId()}" th:text="${requiredCourse.getCourseTitle()}"></h3>
            <dl class="row lead">
                <div class="col-sm-3">
                    <dt>Audience</dt>
                    <dd th:text="${requiredCourse.getAudience().getName()}"></dd>
                </div>
                <div class="col-sm-3">
                    <dt>Frequency</dt>
                    <dd th:text="${requiredCourse.getAudience().getFrequency()}"></dd>
                </div>
                <div class="col-sm-3">
                    <dt>Previous due date</dt>
                    <dd th:text="${requiredCourse.getAudience().getLearningPeriod().getDisplayPreviousDueDate()}"></dd>
                </div>
                <div class="col-sm-3">
                    <dt>Next due date</dt>
                    <dd th:text="${requiredCourse.getAudience().getLearningPeriod().getDisplayNextDueDate()}"></dd>
                </div>
            </dl>
            <h4>Learner record</h4>
            <p class="lead">
                User has completed <strong th:text="${requiredCourse.getCompletedRequiredModules()} + ' out of ' + ${requiredCourse.getRequiredModules()}"></strong> required modules in the current learning period for this
                course
            </p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Module title</th>
                        <th scope="col">Required</th>
                        <th scope="col">Updated at</th>
                        <th scope="col">Status</th>
                        <th scope="col">Completed at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:classappend="${!module.isCompleted() and module.isRequired()} ? 'table-warning' : ''" th:each="module : ${requiredCourse.getModules()}">
                        <td th:text="${module.getModuleTitle()}"></td>
                        <td th:text="${module.isRequired()}"></td>
                        <td th:text="${module.getDisplayLastUpdated()}"></td>
                        <td th:text="${module.getDisplayStatus()}"></td>
                        <td th:text="${module.getDisplayCompletionDate()}"></td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row" colspan="2">Course Summary</th>
                        <td th:text="${requiredCourse.getDisplayLastUpdated()}"></td>
                        <td th:text="${requiredCourse.getDisplayStatus()}"></td>
                        <td th:text="${requiredCourse.getDisplayCompletionDate()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2 class="pb-3">Roles</h2>
    <form th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}" autocomplete="off" action="#" th:action="@{/identities/update}" th:object="${identity}" method="POST">
        <div class="form-group">
            <select aria-label="User roles" class="form-control" multiple="multiple" name="roleId" id="roleId" size="25" style="height: 100%;">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                        th:selected="${identity.getRoles().contains(role)}"></option>
            </select>
        </div>
        <input type="hidden" th:field="*{uid}"/>
        <button type="submit" class="btn btn-primary btn-contrast-fix">Update Roles</button>
    </form>
    <ul th:if="${!@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}" class="list-group mb-5">
        <li class="list-group-item" th:each="role : ${identity.getRoles()}" th:value="${role.id}" th:text="${role.name}"></li>
    </ul>
</section>
</body>
</html>
