<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>List of Identities</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Identities</h1>
    <div th:if="${status}" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">There was a problem</h4>
        <p th:text="${status}">status ...</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${success}" class="alert alert-success" role="alert" th:text="${success}">success</div>
    <form autocomplete="off" action="#" th:action="@{/identities}" method="get">
        <div class="form-row">
            <div class="col-10">

                <label for="query" class="sr-only">Email</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="query" name="query"
                       placeholder="Email Address to lookup" th:value="${query}" required="required"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-contrast-fix mb-2">Search</button>
                <a class="btn btn-danger mb-2" href="/mgmt/identities">Reset</a>
            </div>
        </div>
    </form>
    <hr class="my-4"/>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col" id="activeheader">Active</th>
            <th scope="col" id="lockedheader">Locked</th>
            <th scope="col">Email</th>
            <th scope="col" th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).DELETE_IDENTITY)}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="identity : ${page.getContent()}">
            <td th:text="${identity.active} ? 'Yes' : 'No'"></td>
            <td th:text="${identity.locked} ? 'Yes' : 'No' "></td>
            <td>
                <a th:text="${identity.email}" th:href="@{|/identities/update/${identity.uid}|}" th:alt="'View user ' + ${identity.email}"></a>
            </td>
            <td th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).DELETE_IDENTITY)}">
                <a class="btn btn-danger btn-sm" th:href="@{|/identities/delete/${identity.uid}|}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr class="my-4"/>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <th:block th:each="ins: ${pagination}">
                <li class="page-item disabled">
                    <a th:if="${page.getNumber() == ins.value || ins.key == '...'}" class="page-link page-link-contrast-fix"
                       th:text="${ins.key}"></a>
                </li>
                <li class="page-item">
                    <a th:unless="${page.getNumber() == ins.value || ins.key == '...'}" class="page-link page-link-contrast-fix"
                       th:href="@{|?query=${query}&amp;page=${ins.value}|}"
                       th:text="${ins.key}"></a>
                </li>
            </th:block>
        </ul>
    </nav>
</section>
</body>
</html>
