<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="identity/viewLayout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Other Organisation Access - ' + identity.email}"></title>
</head>
<body>
<section layout:fragment="identity-content">
    <h2 class="pb-3">Other Organisation Access</h2>
    <p th:if="${civilServantId != null}">
        <p th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_ORGANISATIONS)
                    and @frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}">
            <dt class="pb-4">Search organisation - Start typing to find organisation name</dt>
            <form th:action="@{/identities/{uid}/other-organisations/add(uid=${identity.uid})}" method="POST" th:object="${identity}">
                <div class="form-group">
                    <input type="text" class="form-control" id="otherOrganisationInput" placeholder="Organisation Name"
                           aria-label="Other Organisations" autocomplete="off" spellcheck="false"/>
                </div>
                <input type="hidden" name="civilServantId" th:value="${civilServantId}"/>
                <input type="hidden" name="otherOrgIdsToAdd" id="otherOrgIdsToAdd" />
                <button type="submit" class="btn btn-primary btn-contrast-fix">Assign organisation</button>
                <br/><br/>
                <p class="pb-4" th:if="${alreadyAssignedOtherOrganisations.isEmpty()}">
                    No other organisations assigned.
                </p>
                <table class="table" th:if="!${alreadyAssignedOtherOrganisations.isEmpty()}">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col">Access</th>
                        <th scope="col" th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_ORGANISATIONS)
                                                         and @frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <div th:each="alreadyAssignedOtherOrganisation : ${alreadyAssignedOtherOrganisations}">
                            <tr>
                                <td th:text="${alreadyAssignedOtherOrganisation.getName()}"></td>
                                <td th:text="Yes"></td>
                                <td th:if="${@frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_ORGANISATIONS)
                                                and @frontendAuthService.hasPermission(T(uk.gov.cshr.config.Permission).MANAGE_IDENTITY)}">
                                    <input type="hidden" name="alreadyAssignedOtherOrganisationIds" th:value="${alreadyAssignedOtherOrganisation.id}"
                                           th:id="'otherOrgIds-' + ${alreadyAssignedOtherOrganisation.id}"/>
                                    <button th:formaction="@{/identities/{uid}/other-organisations/{otherOrgIdToRemove}/remove(uid=${identity.uid}, otherOrgIdToRemove=${alreadyAssignedOtherOrganisation.id})}"
                                            type="submit" class="btn btn-primary btn-contrast-fix">Remove</button>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </form>
        </p>
    </p>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            const formattedOrganisationNames = [[${formattedOrganisationNames}]];

            $('#otherOrganisationInput').typeahead({
                hint: true,
                highlight: true, /* Enable substring highlighting */
                minLength: 1, /* Specify minimum characters required for showing result */
                items: Infinity, /* This allows unlimited results in the dropdown */
                source: formattedOrganisationNames,
                displayText: function (item) {
                    return item.name;
                },
                afterSelect: function (item) {
                    $('#otherOrgIdsToAdd').val(item.id); // store id in hidden field
                },
                autoSelect: true,
                highlighter: function (name) {
                    const query = $('#otherOrganisationInput').val();
                    const regex = new RegExp('(' + query + ')', 'gi');
                    const highlighted = name.replace(regex, '<strong>$1</strong>');
                    return '<div class="form-control">' + highlighted + '</div>';
                }
            });
        });
        /*]]>*/
    </script>
</section>
</body>
</html>
