<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="identity/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Other Learning - ' + identity.email}"></title>
</head>
<body>
<section layout:fragment="identity-content">
    <h2 class="pb-3">Other Learning</h2>
    <p class="pb-4">
        <!--TODO: This section will be implemented as part of the ticket LC-3790-->
        This section is not yet implemented.
    </p>
</section>
</body>
</html>
