<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>List of Invites</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Invites</h1>
    <form autocomplete="off" action="#" th:action="@{/invites}" method="get">
        <div class="form-row">
            <div class="col-10">

                <label for="query" class="sr-only">Email</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="query" name="query"
                       placeholder="Email Address to lookup" th:value="${query}" required="required"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-contrast-fix mb-2">Search</button>
                <a class="btn btn-danger mb-2" href="/mgmt/invites">Reset</a>
            </div>
        </div>
    </form>
    <hr class="my-4"/>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Invited At</th>
            <th scope="col">Inviter</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invite : ${page.getContent()}">
            <td th:text="${invite.forEmail.toLowerCase()}"></td>
            <td th:text="${invite.status}"></td>
            <td th:text="${invite.invitedAt}"></td>
            <td th:text="${invite.inviter?.email}"></td>
        </tr>
        </tbody>
    </table>
    <hr class="my-4"/>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <th:block th:each="ins: ${pagination}">
                <li class="page-item disabled">
                    <a th:if="${page.getNumber() == ins.value || ins.key == '...'}" class="page-link page-link-contrast-fix"
                       th:text="${ins.key}"></a>
                </li>
                <li class="page-item">
                    <a th:unless="${page.getNumber() == ins.value || ins.key == '...'}" class="page-link page-link-contrast-fix"
                       th:href="@{|?query=${query}&amp;page=${ins.value}|}"
                       th:text="${ins.key}"></a>
                </li>
            </th:block>
        </ul>
    </nav>
</section>
</body>
</html>