<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Send Invite</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Send Invite</h1>

    <form autocomplete="off" action="#" th:action="@{/invites}" method="post">
        <div class="form-group">
            <label for="forEmail">Email</label>
            <input type="text" class="form-control" id="forEmail" name="forEmail" placeholder="Email for invitee"
                   required="required"/>
        </div>
        <div class="form-group">
            <label for="roleId">Roles</label>
            <select class="form-control" multiple="multiple" name="roleId" id="roleId" required="required" size="26">
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-contrast-fix">Invite</button>
    </form>
</section>
</body>
</html>