<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>List of Roles</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Roles</h1>
    <h2>Create Role</h2>

    <form autocomplete="off" action="#" th:action="@{/roles/create}" th:object="${role}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Role name" th:field="*{name}" required="required"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Role Description"
                   th:field="*{description}"/>
        </div>
        <button type="submit" class="btn btn-primary btn-contrast-fix">Create</button>
    </form>
    <hr class="my-4"/>
    <h2>List of Roles</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tr th:each="role : ${roles}">
            <td th:text="${role.name}"></td>
            <td th:text="${role.description}"></td>
            <td align="right nowrap">
                <a class="btn btn-sm btn-primary btn-contrast-fix" th:href="@{|/roles/update/${role.id}|}">
                    Update
                </a>
                <a class="btn btn-danger btn-sm" th:href="@{|/roles/delete/${role.id}|}">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>